################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Revit-SK/.vs/Revit-SK/FileContentIndex/b039fbac-ae3a-497e-b861-3e294097036b.vsidx
